/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "combos.dtsi"
#include "definitions.dtsi"
#include "tapdances.dtsi"

/ {
        chosen {
                zmk,physical-layout = &foostan_corne_5col_layout;
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        display-name = "Base";
                        bindings = <

/**
 *      DEFAULT LAYER
 *      ,-----------------------------------------------------.         .------------------------------------------------------.
 *      |   Q     |    W     |    F     |    P     |    G     |         |    J     |    L     |    U     |    Y     |    ;     |
 *      |  CTRL   |   ALT    |   CMD    |          |          |         |          |          |   CMD    |   ALT    |   CTRL   |
 *      -------------------------------------------------------         --------------------------------------------------------
 *      |   A     |    R     |    S     |    T     |    D     |         |    H     |    N     |    E     |    I     |    O     |
 *      |         |          |          |  Shift   |          |         |          |  Shift   |          |          |          |
 *      -------------------------------------------------------         --------------------------------------------------------
 *      |   Z     |    X     |    C     |    V     |    B     |         |    K     |    M     |    ,     |    .     |    '     |
 *      |  NUM    |          |          |          |          |         |          |          |          |          |          |
 *      -------------------------------------------------------         -------------------------------------------------------'
 *                                      |   BSP    |   TAB    |         |    -     |  Space   |
 *                                      |   SYM    |   SFT    |         |   Arr    |   NAV    |
 *                                      `---------------------'         `---------------------'
 **/

        &kp Q      &kp W      &kp F      &kp P      &kp G               &kp J      &kp L      &kp U      &kp Y      &kp SEMI
        &kp A      &kp R      &kp S      &kp T      &kp D               &kp H      &kp N      &kp E      &kp I      &kp O
        &kp Z      &kp X      &kp C      &kp V      &kp B               &kp K      &kp M      &kp COMMA  &kp DOT    &kp SQT
                              &none      &kp BSPC   &kp TAB             &kp MINUS  &kp SPACE  &none
                        >;
                };
        };
                
};
